{{ attach_library('capable/template') }}

<h2>Welcome to the Twig Template Custom Page</h2>

<p>Cupcake marzipan tootsie roll candy canes sweet soufflé gummi bears sugar plum apple pie. Chocolate cake candy sweet roll marshmallow chocolate cake sugar plum sweet gummies. Sweet chupa chups apple pie. Pie caramels brownie gummies pie icing candy liquorice.</p>
<p>Chocolate jujubes pudding fruitcake caramels cupcake macaroon pastry soufflé. Chupa chups croissant cookie gummies jelly toffee dessert. Gingerbread jujubes jelly beans lollipop muffin sugar plum tart sesame snaps jujubes. Muffin dragée chocolate bar carrot cake croissant muffin cake chupa chups jujubes. Marzipan fruitcake wafer cake cake. Jelly-o wafer carrot cake donut sweet roll oat cake pastry.</p>
<p>Chocolate bar topping cheesecake chocolate jujubes chocolate cake. Lemon drops sweet roll cotton candy bear claw chupa chups. Sugar plum tootsie roll macaroon chocolate cake. Tiramisu marshmallow chocolate cake marzipan croissant. Gummi bears lemon drops cheesecake liquorice toffee chocolate bar oat cake. Liquorice toffee jelly fruitcake jelly. Gummies pastry pie candy canes. Soufflé danish tootsie roll cupcake macaroon caramels chocolate bar jujubes.</p>
<ol>
  <li>
    Chocolate
  </li>
  <li>
    Vanilla
  </li>
  <li>
    Caramel
  </li>
  <li>
    Coffee
  </li>
</ol>
